#p-signup {
  max-width: 320px;
  min-height: 100vh;
  margin: 16px auto;
}
#p-signup a {
  color: rgb(28, 107, 198);
}


#p-signup fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  flex-direction: row;
  justify-content: start;
}
#p-signup label {
  color: rgb(208, 208, 208);
}

#p-signup input, 
#p-signup button {
  display: block;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

#p-signup button {
  margin-top: 8px;
}