#c-header {
    display: flex;
    background-image: radial-gradient(circle,#18064a, #3b386e, #150d51);
    color: rgb(208, 208, 208);
    justify-content: space-between;
    padding: 9px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#c-header a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}