@import url(./styles/pages/login.page.css);

body {
    margin: 0;
    padding: 0 16px;
    font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
    background:linear-gradient(to bottom, #381236 8%, #262c41 100%);
}

* {
    box-sizing: border-box;
}

input:not(input[type='radio']):not(input[type='checkbox']), button {
    min-height: 1px;
    padding: 1px 30px;
}

input[type='radio'], input[type='checkbox'] {
    display: inline-block;
    width: auto;
}

label {
    font-weight: 500;
    color: rgb(111, 80, 140);
}

div {
    display: flex;
    flex-direction: column;
}

.imagem {
    flex-direction: row;
    justify-content: center;
}

.imagem img{
    width: 60px;
    height: auto;
}

.imagem button{
    width: 120px;
}