@import url(./styles/pages/login.page.css);

body {
    margin: 0;
    padding: 0 16px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #202020;
    color: white;
}

* {
    box-sizing: border-box;
}

input:not(input[type='radio']):not(input[type='checkbox']), button {
    min-height: 40px;
    padding: 5px 10px;
}

input[type='radio'], input[type='checkbox'] {
    display: inline-block;
    width: auto;
}

label {
    font-weight: 500;
    color: blueviolet;
}

div {
    display: flex;
    flex-direction: column;
}

.imagem {
    flex-direction: row;
    justify-content: center;
}

.imagem img{
    width: 60px;
    height: auto;
}

.imagem button{
    width: 120px;
}